<!DOCTYPE html>
<html lang="{{.Lang}}">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

	<title>{{.MetaTitle}}</title>

	<meta name="HandheldFriendly" content="True" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<link rel="stylesheet" type="text/css" href="{{asset "css/style.css"}}" />

	<link rel="canonical" href="{{.BlogUrl}}{{.CurrentPath}}" />

    <link rel="stylesheet" href="{{asset "css/styles/solarized-light.css"}}"/>

</head>

<body class="{{body_class}}">

	<nav id="menu">
		<a class="close-button">Close</a>
		<div class="nav-wrapper">
			<p class="nav-label">Menu</p>
			<ul>
			{{range .Site.Navigation}}
			<li class="nav-{{.Slug}}{{if .Current}} active{{end}}" role="presentation"><a href="{{.Url}}">{{.Label}}</a></li>
			{{end}}
			{{if .Site.Twitter}}
			<li class="nav-twitter"><a href="{{.Site.Twitter.Url}}" title="{{.Site.Twitter.Title}}"><i class="ic ic-twitter"></i> Twitter</a></li>
			{{end}}
			{{if .Site.Github}}
			<li class="nav-facebook"><a href="{{.Site.Github.Url}}" title="{{.Site.Github.Title}}"><i class="ic ic-link"></i> Github</a></li>
			{{end}}
			</ul>
		</div>
	</nav>

	<section id="wrapper">
		<a class="hidden-close"></a>
